.section01 {

  overflow: hidden;
  background: black;
  
  header{
    display: flex;
    background-color: red;
    justify-content: space-between;
    border-bottom: 1px solid black;


    .group{
      display: flex;
    }
  }

  .main{
    position: relative;
  }

  .title{
    position: absolute;
    left: 50%;
    top: 50%;
    translate:-50% -50%;
  }

  .subtitle{
    position: absolute;
    left: 70%;
    top: 50%;
    translate:-50% -50%;
    transform: scale(0.7);
  }

  .side{
/*     opacity: 0; */
    position: absolute;
    left: 50%;
    top: 47%;
    translate:-50% -50%;
    transform: scale(0.87);
  }

  .menu{
    position: absolute;
    right: 40px;
    top: 50px;


  }

  
}



.section02{
  background-color: #ebe5de;
  /* height: 400vh; */
  height: 200vh;
  /* background-image: url(); */

  .small_image{
    width: 721px;
    margin: 0 auto;
    /* margin-top: 20%; */
    padding-top: 15%;
    /* height: 464px; */
    background: red;
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    /* translate:-50% -50%; */
    /* text-align: center; */
  }
  .box{
    width: 100vw;
    height: 100vh;
    position: relative;
  }

  .title02{
    position: absolute;
    left: 50%;
    top: 50%;
    translate:-50% -50%;
    transform: scale(0.7);

  }

  .subtitle02{
    position: absolute;
    left: 50%;
    top: 50%;
    translate:-50% -50%;
    transform: scale(0.8);
  }
  
  .side02{
    position: absolute;
    right: -4%;
    top: -3%;
    transform: scale(0.8);
  }

  .side03{
    position: absolute;
    left: -4%;
    bottom: 0;
    transform: scale(0.8);
  }

  .sub02{
    position: absolute;
    left: 50%;
    bottom: 0;
    translate:-50% -50%;
    transform: scale(0.85);
  }

  .sub02-2{
    position: absolute;
    left: 50%;
    top: 15%;
    translate:-50% -50%;
    transform: scale(0.85);
  }

  .image01{
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    /* translate:-50% -50%; */
    /* transform: scale(0.8); */
    position: relative;
    z-index: 10;
    


  }

  .image02{
    position: absolute;
    left: 0;
    top: 0;
  }

  .image03{
    position: absolute;
    left: 0;
    top: 0;
  }

  .image04{
    position: absolute;
    left: 0;
    top: 0;
  }

}

.section03{
  background-color: #ebe5de;
  height: 400vh;
  /* height: 200vh; */

  .box03{
    position: relative;
  }

  /* .bgimage{
    position: absolute;
    left: 50%;
    top: 50%;
    translate:-50% -50%;
    transform: scale(0.9);
  } */


  .main03{
    transform:scale(0.4);
    /* width: 100%;
    height: 100%; */

  }

  .bgsub{
    position: absolute;
    left: 50%;
    top: 50%;
    translate:-50% -50%;
    transform: scale(0.9);
    opacity: 0;
  }


}

.section04{
  background-color: #ebe5de;
  height: 400vh;


  .box04{
    width: 100vw;
    height: 100vw;
    background-color: #ebe5de;
    position: relative;
    
  }

  .typo01{
    position: absolute;
    left: 50%;
    top: 8%;
    translate:-50% -50%;
    transform: scale(0.9);
  }

  .vertical01{
    position: absolute;
    left: 8%;
    bottom: 40%;
  }

  .bottom01{
    position: absolute;
    right: 5%;
    bottom: 24%;
  }

  .main04-1{
    position: absolute;
    right: 5%;
    top: 12%;

  }

  .main04-2{
    position: absolute;
    left: 7%;
    top: 80%;
  }

  .main04-3{
    position: absolute;
    left: 50%;
    bottom: -115%;
    translate:-50% -50%;

  }

  .black01{
    position: absolute;
    left: 5%;
    bottom: 27%;
  }

  .black02{
    position: absolute;
    right: 5% ;
    bottom: -42%;

  }

  .black03{
    position: absolute;
    left: 50%;
    bottom: -110%;
    translate:-50% -50%;

  }



}


.section05{
  background-color: white;
  /* height: 400vh; */
  height: 100vh;
  position: relative;


  .main05{
    position: absolute;
    left: -12%;
    top: -7%;
    transform: scale(0.9);
  }

  .line{
    width: 90%;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 60%;
    translate:-50% -50%;

  }

  .typo05{
    position: absolute;
    right: 5%;
    bottom: 10%;
    transform: scale(0.85);
  }

  .btn05{
    position: absolute;
    left: 6%;
    bottom: 20%;
    transform: scale(0.85);
  }

}


.section06{
  background-color: white;
  /* height: 400vh; */
  height: 100vh;
  position: relative;

  .main06{
    position: absolute;
    left: 50%;
    top: 50%;
    translate:-50% -50%;
    transform: scale(0.88);
  }

  .typo06{
    position: absolute;
    left: 0;
    top: 55%;
    transform: scale(0.85);
  }

  .btn06{
    position: absolute;
    left: 4%;
    bottom: 12%;
    transform: scale(0.85);
  }
}


.section07{
  background-color: white;
  /* height: 400vh; */
  height: 100vh;
  position: relative;

  .main07{
    position: absolute;
    left: 100%;
    top: 45%;
    translate:-50% -50%;

    transform: scale(0.7);
  }

  .side07{
    position: absolute;
    left: 50%;
    top: 14%;
    translate:-50% -50%;
    transform: scale(0.9);
  }

  .side7-2{
    position: absolute;
    left: 27%;
    bottom: 42%;
    transform: scale(0.75);

  }

  .side7-3{
    position: absolute;
    left: 33%;
    bottom: 33%;
    transform: scale(0.75);

  }

  .linetype{
    position: absolute;
    left: 50%;
    bottom: 0;
    translate:-50% -50%;
    transform: scale(0.6);
  }

}


.section08{
  background-color: black;
  /* height: 400vh; */
  height: 2030px;
  position: relative;

  .title08{
    position: absolute;
    left: 50%;
    top: 25%;
    translate:-50% -50%;

  }

  .title-image{
    position: absolute;
    left: 5%;
    top: 30%;

  }

  .bgimage8{
    position: absolute;
    left: 50%;
    top: 78%;
    translate:-50% -50%;

  }

  .type8{
    position: absolute;
    left: 50%;
    top: 77%;
    translate:-50% -50%;

  }

}

.section09{
  background-color: #ebe5de;
  /* height: 400vh; */
  height: 1560px;
  position: relative;

  .bgimage9-1{
    position: absolute;
    left: 50%;
    top: 50%;
    translate:-50% -50%;

  }

  .bgimage9-2{
    position: absolute;
    right: 0;
    top: 10%;

  }

  .bgimage9-3{
    position: absolute;
    left: 0;
    bottom: 10%;
  }

  .type9-1{
    position: absolute;
    left: 50%;
    top: 8%;
    translate:-50% -50%;
  }

  .type9-2{
    position: absolute;
    left: 50%;
    top: 50%;
    translate:-50% -50%;
    transform: scale(0.9);
  }

  

  .mainimge9-1{
    position: absolute;
    left: 50%;
    top: 50%;
    translate:-50% -50%;
  }

  .mainimge9-2{
    position: absolute;
    left: 50%;
    top: 50%;
    translate:-50% -50%;
  }

  .title9-1{
    position: absolute;
    left: 50%;
    bottom: 20%;
    translate:-50% -50%;
  }

  .title9-2{
    position: absolute;
    left: 50%;
    bottom: 33%;
    translate:-50% -50%;
  }

  .title9-3{
    position: absolute;
    left: 50%;
    top: 45%;
    translate:-50% -50%;
  }

  .title9-4{
    position: absolute;
    left: 50%;
    top: 30%;
    translate:-50% -50%;
  }

}

.section10{
  background-color: black;
  height: 400vh;


  

}

